* {
    margin: 0px;
    padding: 0px;
    /* box-sizing: ; borda da minha web */
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: green;
}

body > *{
    background-color: blue;
}
    button {
        all: unset;
        background-color: blue;
        color: white;
        font-size: 15px;
        padding: 5px;
        border-radius: 3px;        
    }

    a {
        color: black;
        text-decoration: none; /*muda a decoração, linha, ...*/
    }

    a:hover {
        text-decoration: underline;
        cursor: pointer; /*mouse*/
    }

nav {
    display: flex;
    padding: 10px;
    justify-content: space-between; /*horizontal, p trocar horizontal c vertical, flex-direction: column*/
    align-items: center; /*comando p los hijos - na vertical*/
    flex-wrap: wrap;
    font-size: 13px;
}

nav > div { /*tds hijos de nav*/
    display: flex;
    align-items: center;
    flex-wrap: wrap; /*Quando altero o tamanho da tela os blocos vao p baixo e nao se mesclan*/
    justify-content: space-between;
}

nav > div:first-child {
    min-width: 200px;
}

nav > div:last-child{
    min-width: 300px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

}

section > input {
    margin-top: 20px;
}